/* Contact.css */

body {
  background-color: #ffffff;
}

#name,
#email,
#message {
  background-color: #eeeeee;
}

#desc {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.contact__form {
  display: grid; /* Use grid layout for the form */
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-gap: 10px; /* Add some spacing between columns */
  width: 400px;
  background-color: #ffffff;
  border: 0px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.input__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input__group label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input__group input,
.input__group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input__group textarea {
  resize: vertical;
}

.input__group--message {
  grid-column: 1 / span 2; /* Make the message field span two columns */
}

button {
  padding: 10px 20px;
  background-color: #141414;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  grid-column: 1 / span 2; /* Make the button span two columns */
}

button:hover {
  background-color: #dedede;
  color: #141414;
}
